.nav-container-blur{
  background-color: #4274f6;
}

span, input, a, p, div, h1, .content h1,
.content h2,
.content h3,
.content h3 {
  font-family: "neue-haas-unica";
}

/* Logo should not chage on hover */
a.hx-flex:hover{
  opacity: 1;
}

/* The link in the menu must change to light blue on hover */
a.hx-text-sm:hover{
  color: #b3c7fb;
}
