.nav-container-blur{
  background-color: #4274f6;
}

span, input, a, p, div, h1, .content h1,
.content h2,
.content h3,
.content h3 {
  font-family: "neue-haas-unica";
}

/* Logo should not chage on hover */
a.hx-flex:hover{
  opacity: 1;
}

/* The link in the menu must change to light blue on hover */
a.hx-text-sm:hover{
  color: #b3c7fb;
}

/* The links in the menu needs to be white */
a.hx-hidden{
  color: white;
}

/* Hamburger menu needs to be white instead of black */
button.hamburger-menu {
  color: #ffffff;
}

input.search-input{
  background-color: #ffffff;
}

input.search-input:focus{
  background-color: #ffffff;
  border: 0px solid #b3c7fb;
  outline: 3px solid #b3c7fb;
  outline-offset: 0px;
  box-sizing: border-box;
}

/*
h2.tito-registration-section-header--heading{
  font-family: "neue-haas-unica" !important;
}

h1.tito-registration-header--event-title{
  font-family: "neue-haas-unica" !important;
}*/

/*

h2 {
  font-family: "neue-haas-unica" !important;
}

h1 {
  font-family: "neue-haas-unica" !important;
}

a {
  font-family: "neue-haas-unica" !important;
} */

/*
td, span, input, p, button, div, h1, h2, h3, a, label {
  font-family: "neue-haas-unica" !important;
}*/

* {
  font-family: "neue-haas-unica" !important;
}


a.tito-vat-number-toggle {
  color: #0047ba !important;          /* removes Tito's blue */
  text-decoration: underline !important; /* adds underline */
  /* cursor: pointer;  */                  /* optional: keeps it clickable */
}

a.tito-vat-number-toggle:hover {
  color: #4274f6 !important;          /* removes Tito's blue */
  text-decoration: underline !important; /* adds underline */
}

th {
  font-weight: normal !important;
}

label {
  font-weight: normal !important;
  text-transform: none !important;
  font-size: 10pt !important;
}

span.tito-registration-progress-item--label {
  font-weight: normal !important;
  font-size: 10pt !important;
}

h2.tito-registration-section-header--heading {
  font-weight: normal !important;
}

h2.tito-address-fields-title {
  font-weight: normal !important;
}

td.tito-registration-summary--total {
  font-weight: normal !important;
}

div.tito-payment-instructions{
  color: #000000 !important;
  background-color: #b3c7fb !important;
}

button.tito-submit{
  background-color: #4274f6 !important;
  color: #ffffff !important;
}

button.tito-submit:hover{
  background-color: #4274f6 !important;
  color: #b3c7fb !important;
}

button.tito-continue-button{
  background-color: #4274f6 !important;
  color: #ffffff !important;
}

button.tito-continue-button:hover{
  background-color: #4274f6 !important;
  color: #b3c7fb !important;
}

label.tito-address-fields-address-label { 
  text-transform: none !important; 
}

input:focus,select:focus,textarea:focus,div.choices:focus{
  outline: 2px solid #b3c7fb !important; 
}

tito-widget .tito-release--decrement-quantity--link svg path,
tito-widget .tito-release--increment-quantity--link svg path {
  fill: #4274f6;
}

.tito-close-x {
  color: #b3c7fb !important;   /* any color you want */
}
